@import "../../app.scss";

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.projects {
    height: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .headingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        overflow: visible;

        @include mobile {
            width: 70%;
            margin: 0 auto;
            margin-right: 15px;
            height: 10%;
            justify-content: end;
        }

        @include tablet {
            width: 70%;
            margin: 0 auto;
            margin-right: 15px;
            height: 10%;
            justify-content: end;
        }

        &>h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 50px;
            letter-spacing: 7px;

            @include mobile {
                font-size: 15px;
                letter-spacing: 1px;
            }

            @include tablet {
                font-size: 15px;
                letter-spacing: 1px;
            }

        }

        a {

            img {
                margin-top: 15px;
                height: 50px;
                width: 50px;
                background-color: white;
                border-radius: 50%;
                animation: heartbeat 1s infinite;

                @include mobile {
                    width: 30px;
                    height: 30px;
                }

                @include tablet {
                    width: 30px;
                    height: 30px;
                }
            }

            overflow: visible;
        }

    }

    .wrapper {
        height: 90%;
        width: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 10px;

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        .projectContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border: 2px solid orange;
            border-radius: 10px;
            padding: 0 10px;
            gap: 10px;

            .imageContainer {
                height: 50%;
                width: 90%;
                overflow: hidden;
                background-color: white;
                padding: 0;
                border: 2px solid #0c0c1d;
                border-radius: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .textContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                color: #0c0c1d;
                background-color: orange;
                padding: 5px 10px;
                border-radius: 10px;
                text-align: center;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 17px;
                }

                .buttons {
                    display: flex;
                    gap: 20px;
                    margin-top: 15px;

                    a {
                        button {
                            border: none;
                            background-color: #0c0c1d;
                            border: 2px solid orange;
                            font-size: 23px;
                            padding: 20px 20px;
                            color: orange;
                            border-radius: 10px;

                            &:hover {
                                background-color: orange;
                                border: 2px solid #0c0c1d;
                                color: #0c0c1d;
                                border-radius: 10px;
                            }
                        }
                    }
                }

            }
        }
    }

    .mobile-wrapper {
        display: none;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        height: 90%;

        @include mobile {
            display: flex;
        }

        @include tablet {
            display: flex;
        }

        .projectContainer {
            height: 53%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid orange;
            border-radius: 10px;
            gap: 10px;

            .imageContainer {
                width: 100%;
                height: 40%;
                overflow: hidden;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    animation: heartbeat 1s infinite;
                }
            }

            .textContainer {
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: white;
                padding: 0 10px;

                h1 {
                    font-size: 12px;
                    font-weight: 700;
                }

                p {
                    font-size: 10px;
                }

                .buttons {

                    a {
                        button {

                            font-size: 10px;
                            padding: 5px 10px;
                            border: 1px solid orange;
                            border-radius: 10px;
                            background-color: #0c0c1d;
                            color: orange;

                            &:hover {
                                background-color: orange;
                                border: 1px solid #0c0c1d;
                                color: #0c0c1d;
                            }
                        }
                    }
                }

            }
        }
    }
}